!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Alternate cryptocurrencies!
    link(rel='stylesheet', href='css/bundle.min.css')
  body
    div.row
      div.small-3.columns
        != page.html

      div.small-9.columns
        table
          tr
            th Name
            th Tag
            th Algorithm
            th Proof of Work
            th Proof of Stake
            th Coins per block
            th Maximum number of coins
            th Synopsis
          each coin in contents.currencies._.pages
            tr
              td= coin.metadata.name
              td= coin.metadata.tag
              td= coin.metadata.algorithm

              if coin.metadata['proof-of-work']
                td ✔
              else
                td ✘

              if coin.metadata['proof-of-stake']
                td ✔
              else
                td ✘

              td= coin.metadata['coins-per-block']

              if locals.isNumber(coin.metadata['max-coins'])
                td= locals.humanize(coin.metadata['max-coins'])
              else
                td= coin.metadata['max-coins']

              td!= coin.html